**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.userprefs
TestResults/
*.trx
*.coverage
*.coveragexml
artifacts/
Mellow.Narrator.PipelineTester/*.local.json
Mellow.Narrator.PipelineTester/logs/
*.apk
*.aab
*.msix
*.msixbundle
